body{
    font-family: "Noto Sans",sans-serif;
    overflow-x:hidden;
}

.social{
    img{
        padding: 0 10px;
    }
}
.container{
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}
.header{
    background:no-repeat url(../img/main.png);
    height: 100vh;
    background-position:center center ;
    min-height: 900px;
    text-align: center;
    display: flex;;
    background-size: cover;
    text-align: center;
    flex-direction:  column;
    justify-content: space-between;
    
    .logo__img{
        text-align: center;

        margin: 0 auto;
        padding-top: 30px;
        padding-bottom:140px ;
    
    }
    &__abtitle{

        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
    }
    &__title{
       
        font-size: 64px;
        line-height: 87px;
        font-variant: small-caps;
        color: #FFFFFF;
    }
    &__untitle{
     
        font-size: 42px;
        line-height: 57px;
        
        color: #FFFFFF;
    }
    &__button{
     
        margin-left: 160px;
        svg{
            position: relative;
        right: 300px;
        top:15px
        }
    }
    &__button:hover{
        path{
        fill:  #A9A32A;
        opacity: 0.5;
        }
    }
    &__space{
        position: relative;
        top:30px;
        flex: 1 0 auto;
    }
    &__social{
       margin-bottom: 40px;
        flex: 0 0 auto;
        a{
            padding: 0 11px;
        }
    }
    
}



.title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #868585;
}
.service{
        padding: 150px 0;
        &__wrapper{
            padding-top:60px ;
            display: flex;
            
        }
        &__img{
         

 
            img{
               
                width: 100%;
                height: 100%;

            }
        }
        &__info{
            flex-basis:510px ;
            margin-right: 90px;
       
            &-text{
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                color: #303030;
                
            }
            &-title{
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                color: #303030;
                margin-bottom: 15px;
            }
        }
        &__item{
            padding-bottom: 50px;
        }
        
}
.info{
    &__inner{
        display: flex;
        margin-top: 60px;
        padding-bottom: 170px;
    }
    &__box{
        flex-basis: 510px;
        margin-right:90px ;
    }
    &__content{
        flex-basis: 600px;
        &-text{
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 17px;
        }
    }
    &__list{
        display: flex;
      justify-content: space-between;
        flex-wrap: wrap;
    }
    &__list-item{
        flex-basis: 235px;
        list-style-type: none;
        margin-bottom: 15px;
    }
    &__list-title{
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: bold;
        line-height: 25px;
    }
    &__list-text{
        
     
        font-size: 14px;
        line-height: 19px
    }
    &__tabs{
        margin-bottom: 100px;
        &-items{
            margin-bottom: 120px;
        }
        &-item{
            margin-right: 40px;
        
            &--active{
                 padding-bottom: 2px;
                 border-bottom: 1px solid #303030;
        }
      }
    
    &-content{
       display: none;
   
      }
    }
    &-content--active{
        
     display: block;
    
     }
 
    &__slider-img{
        margin-right:40px ;
        margin-bottom: 20px;
        float: left;
    }
    &__slider-text{
        padding-bottom: 15px;
        font-weight: normal;
        line-height: 19px;
        font-size: 14px;

    }
    &__slider{
        max-width: 510px;
    }
}
.citata{

    background: no-repeat url("../img/citata.png");
    background-size: cover;
    min-height: 500px;

    &__title{
        max-width:700px ;
        margin: 0 auto;
        padding-top: 115px;
        line-height: 57px;
        text-align: center;
        color: #FFFFFF;
        font-size: 42px;
    }
}
.client{
    padding-top: 150px;
    &__button{
        padding-left: 50px;
        svg{
            position: relative;
            left:-270px;
            top:20px
        }

    }
    &__button:hover{
        circle{
         fill: #A9A32A;
         opacity: 0.5;
        }
        path{
        fill: #A9A32A;
      
        opacity: 0.5;
        }
    }
    &__slider{
        width: 510px;
        height: 370px;
        margin-right: 90px;
    }
    &__img{
    max-width: none;
    }
    &__inner{
        padding-top: 60px;
        display: flex;
    }
    &__info-text{
        padding:30px 0 65px ;
        padding-left: 50px;
        p{
            padding: 8px 0;
            line-height: 19px;
            font-size: 14px;
        }
    }
    &__info-title{
        max-width: 478px;
        font-size: 18px;
        line-height: 25px;
        font-weight: bold;
    }
}
.step{
    padding-bottom: 150px;
    padding-top: 150px;
    &__img{
        max-width: 600px;
        min-height: 730px;
    }
    &__inner{
        display: flex;
    }
    &__info{
        margin-right: 90px;
    }
    &_num{
        line-height: 19px;
        /* identical to box height */
        
        
        /* серый */
        padding-bottom: 10px;
        color: #868585;
        font-size: 14px;

    }
    &__title{
        font-size: 18px;
line-height: 25px;
    }
    &__text{
        font-size: 14px;
line-height: 19px;
    }
    &__info-item{
        padding: 15px 0;
    }
    &-tit{
        padding-bottom: 45px;
    }
}
footer{
    background: no-repeat url("../img/foot.png");
    min-height: 730px;
    
}
.foot{
    &__top{
   
        display: flex;
    }
    &__title{
        font-size: 24px;
        line-height: 33px;
        /* identical to box height */
        margin-bottom: 60px;
        margin-top: 70px;
        text-transform: uppercase;
        /* белый */
        
        color: #FFFFFF;
        font-weight: bold;
    }
    &__text{
        line-height: 25px;
        
     padding: 15px 0px;
        
        color: #FFFFFF;
        font-size: 18px;
    }
    &__bot{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    &__link{
        line-height: 16px;
        color: #FFFFFF;
        font-size: 14px;
    }
    &__inner{
     min-height: 730px;
        display: flex;
        flex-direction: column;
        
        justify-content: space-between;
    }
    &__contact{
        margin-left: 90px;
    }
    &__button{
        line-height: 25px;
        color: #FFFFFF;
        font-size: 18px;
    }
    &__appli{
        display: flex;
        flex-direction: column;
       input{
        width: 510px;
        min-height: 30px;
        background-color: transparent;
        border: none;
        padding-bottom: 10px;
        border-bottom: 1px solid #fff;
        margin-bottom: 60px;
        color: #fff;
       }
    }
    &__button{
        padding-left: 50px;
        svg{
            position: relative;
            left:-190px;
            bottom: -20px;
        }
    }
    &__button:hover{
        path{
            fill: #A9A32A;
            opacity: 0.5;
        }
    }


}
.info__tabs-content{
.slick-arrow{
    position: absolute;
    cursor: pointer;
    bottom: 18px;
    left: 275px;
    z-index: 5;
}
.slick-right{
    left: 340px;
}
}
.client__slider{
    .slick-arrow{
        position: absolute;
        cursor: pointer;
        bottom: -32px;
        left: 275px;
        z-index: 5;
    }
    .slick-right{
        left: 340px;
    }
}
.slick-right:hover path{
 
fill: #A9A32A;
     
}
.slick-left:hover path{

fill: #A9A32A
 
}
@media (max-width: 768px) {
    .header__title{
        font-size: 32px;
        line-height: 56px;
    }
    .header__abtitle{
        line-height:64px ;
    
    
    }
    .header__untitle{
     
            font-size: 32px;
      
    }
}
@media (max-width: 540px) {
    .header__button{
      display: inline;
      text-align: center;
      margin: 0;
    
      position: relative;
      left: 60px;
 svg{
     right: 240px;
   
 }
    }
 
    .header__title{
        font-size: 32px;
        line-height: 52px;
    }
    .header__untitle{
        font-size: 24px;
        padding-bottom: 40px;
        line-height: 42px;
    }
    .header__abtitle{
        font-size:14px ;
        line-height: 26px;
      
        
    }

}
@media (max-width: 420px) {

    .header__button{
        left: -20px;
        .header__abtitle{
            position: relative;
            right: -80px;
            
        }
        svg{
            right: 160px;
          
        }
    }
  
}

@media (max-width: 1024px) {
    header,
    .service,
    .client,
    .info,
    .citata,
    .step,
    .footer__top{
        padding-top: 75px;
        padding-bottom: 0px;

    }
.service__wrapper{
    flex-wrap:wrap ;
    flex-direction: column;
}
.service__img{
    height: 400px;

}
.service__info{
    flex-basis: 100%;
}
}
@media (max-width: 375px) {

    .title{
        margin-bottom: 40px;
    }
    .service__box{
        margin-bottom: 30px;
    }

}
@media (max-width: 1200px) {

    .info__inner{
        
        flex-direction: column-reverse;

    }
    .info__box{
        flex-basis: 100%;
        display: flex;
        margin-right: 0px;

    }
    .info__content-img{
        display: none;
        
    }
    .info__content{
        flex-basis: auto;
    }
    .info__list{
        align-self: flex-start;
        margin-left: 40px;
    }
    .info__tabs-items{
        margin-bottom: 40px;
    }
}
@media (max-width: 826px) {
    .info__box{
        display: block;
    }
    .info__list{
        margin-left: 0px;
    }

}

@media (max-width: 490px) {
    .info__slider{
        max-width: 100%;
        
    }
    .info__slider-img{
        margin-right: 0;
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
    .info__tabs-item{
        margin-right: 15px;
        margin: 0 auto;
    }
    .info__tabs-content{
        width: 100%;
        .slick-right{
            left: calc(50% + 30px);
            bottom: -40px;
        }
        .slick-left{
            left: calc(50% - 30px);
            bottom: -40px;
        }
    }
    .info__list{
        display: block;
    }

}
@media (max-width: 340px) {
.info__slider{
    max-width:290px;
}
.info__tabs-item{
    margin-right: 15px;
    display: block;
    margin-right:0;
    text-align: center;
    padding: 10px;
}

}